.loginText
{
    font-size: 1.25em;
}

.loginDiv
{
    display: grid;
    justify-content: center;
    margin-top: 10px;
}

.loginDiv input
{
    text-align: left;
    cursor: text;
}

.loginDiv br
{
    margin-top: 10px;
}

.loginButton
{
    margin-top: 10px;
    font-size: 1.25em;
    letter-spacing: 1px;
}

.registerDiv
{
    margin-top: 5px;
}