.mandatory
{
  color: red;
  padding-right: 5px;
}

.mandatory:hover
{
  color: lightcoral;
  cursor: default;
}

.questionMark
{
  color: blue;
  margin-left: 5px;
}

.questionMark:hover
{
  color: teal;
}

.outerDiv
{
  margin: 0px 10px;
  padding: 0px 10px;
  border: 2px solid black;
}

.saveDropdownEntry
{
  display: flex;
  margin-top: 5px;
}

.saveDropdownInput:focus::placeholder
{
  color: transparent;
}

.miscOptions
{
  margin-top: 10px;
  padding-top: 5px;
  gap: 3px;
  display: grid;  
  border-top: 2px solid black;
}

.checkboxes
{
  margin-bottom: 10px;
  border-bottom: 2px solid black;
  padding-bottom: 5px;
  margin-top: 5px;
}

.districtSelectors
{
  display: grid;
  gap: 3px;
}

.loadingSection
{
  display: grid;
  gap: 5px;
  margin-top: 5px;
}

.savesSaveButton
{
  margin-left: auto;
}

.savesLoadButton
{

}

.saveText
{
  
}

.wideButton
{
  width: 100%;
  text-align: center;
  border: 2px solid black;
  cursor: pointer;
}

.gridSplit
{
  /*grid-template-rows: 1fr 1fr 1fr; */
}